*.md
*.map
.env*
.git
.k8s
.idea
.config
.husky
.npm
.github
.circleci
.gitignore
.dockerignore
.editorconfig
docs
seed*
certs
Makefile
Dockerfile
nodemon.json
node_modules
npm-debug.log
docker-compose.yml
.commitlintrc.json
sonar-project.properties
